<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
<link rel="icon" type="image/png" sizes="16x16" href="../img/logo.png">
<link rel="stylesheet" type="text/css" href="../css/bootstrap-clearmin.min.css">
<link rel="stylesheet" type="text/css" href="../css/roboto.css">
<link rel="stylesheet" type="text/css" href="../css/material-design.css">
<link rel="stylesheet" type="text/css" href="../css/small-n-flat.css">
<link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css">
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="../cms-js/conf.js"></script>
<script type="text/javascript" src="../cms-js/dashboard.js"></script>
<title>NSVN</title>
</head>
<body class="cm-no-transition cm-1-navbar">
    <div id="cm-menu">
        <nav class="cm-navbar cm-navbar-primary">
            <div class="cm-flex">
                <div class="cm-logo"></div>
            </div>
            <div class="btn btn-primary md-menu-white" data-toggle="cm-menu"></div>
        </nav>
        <div id="cm-menu-content">
            <div id="cm-menu-items-wrapper">
                <div id="cm-menu-scroller">
                    <ul class="cm-menu-items">
                        <li class="active"><a href="#" class="sf-dashboard">Thống kê</a></li>
                        <!--<li><a href="ai.html" class="sf-cogs">Cấu hình AI</a></li>-->
                        <li><a href="/cms/member" class="sf-profile-group">Thí sinh</a></li>
                        <!--<li><a href="mess.html" class="sf-box-out">Gửi tin</a></li>
                        <li><a href="product.html" class="sf-shop">Sản phẩm</a></li>
                        <li><a href="map.html" class="sf-map">Bản đồ</a></li>
                        <li><a href="analyze.html" class="sf-monitor">Phân tích</a></li>-->
                        <li><a href="#" class="sf-lock" onclick="Logout()">Đăng xuất</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <header id="cm-header">
        <nav class="cm-navbar cm-navbar-primary">
            <div class="btn btn-primary md-menu-white hidden-md hidden-lg" data-toggle="cm-menu"></div>
            <div class="cm-flex">
                <h1>Thống kê tổng hợp</h1>
            </div>
        </nav>
    </header>
    <div id="global">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div id="dvBlockStatus" name="dvBlockStatus" style="height:500px;width:98%"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="cm-footer"><span class="pull-right">&copy; NSVN KYC.NET.VN Inc.</span></footer>
    </div>
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/jquery-migrate-1.4.1.min.js"></script>
    <script src="../js/jquery.mousewheel.min.js"></script>
    <script src="../js/jquery.cookie.min.js"></script>
    <script src="../js/fastclick.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/clearmin.min.js"></script>
    <script src="../cms-js/logout.js?v=1.0.0.0"></script>
</body>
</html>